.x{
    background-color: red;
}
.y{
    background-color: orange;
}
.z{
   background-color: aqua; 
}
#i1{
    background-color: magenta;
}
#i2{
    background-color: indigo;
}
#i3{
    background-color: lightcoral;
}
#i4{
    background-color: purple;
}