h1{
    background-color: violet;
}
h2{
    background-color: indigo;
}
h3{
    background-color: blue;
}
h4{
    background-color: green;
}
h5{
    background-color: yellow;
}
h6{
    background-color: orange;
}
p{
    background-color: red;
}